<ion-content>
  <div id="login-body">
    <div id="login-gradient">
      <ion-grid id="login-grid">
        <!--<ion-row>
          <ion-col col-8 offset-2>
            <ion-img id="login-img" src="../../assets/images/login/perfilLogin.svg" width="120" height="120"></ion-img>
          </ion-col>
        </ion-row>-->
        <ion-row class="data-user">
          <ion-col col-10 offset-1>
            <ion-input type="text" [(ngModel)]="username" placeholder="aa"></ion-input>
            <ion-input type="password" [(ngModel)]="password" placeholder="bb"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-10 offset-1>
            <button id="btn-enter" (click)="doLogin()" href="#">Login</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>