<ion-tabs selectedIndex="1">
  <ion-tab [root]="trendingRoot" tabIcon="md-star"></ion-tab>
  <ion-tab [root]="homeRoot" tabIcon="md-home"></ion-tab>
  <ion-tab [root]="chatRoot" tabIcon="md-chatboxes"></ion-tab>
</ion-tabs>
